.contenido { display: flex;
    justify-content: space-between;
    align-items: flex-start;}
    .nofoto {width: 600px;
        margin-top: 0px;
        padding-top: 0px;}
    .foto {width: 600px;
    padding: 10px;
    height: 610px;}
    a { text-decoration: none;
    color: black;}
    .texto {text-align:left;}
    h1 {font-family: 'New Rocker', cursive;
    font-size: 50px;
    margin-top: 0px;}
    p{    
         font-family: 'Roboto', sans-serif;
    }
    h3 {margin-top: -20px;}
    .contenido1 {display: flex;
        align-items: flex-start;
        flex-wrap: wrap;}
    .div2 {margin-left: 50px;}
    .contenidoalbum {
        display: flex;
        align-items: flex-start;
    }
    /* los del tercer trabajo*/
    #contenido2 {display: flex;}
        /* width: max-content;
        height: 434px;
        flex-wrap: nowrap;
        text-align: inherit;} */
    .imagen3 {padding: 10px 10px 10px 10px ;}
    .claseul{font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -10px;}
    .lista {font-family: 'Courier New', Courier, monospace;
    font-size: 12px;}        
    /* #imagen3 {width: 700px;}
    #sinfoto {margin-left: 0px;}
    #queenfuncionamal {margin-left: 0px;}
    #bobtambien {margin-left: 0px;} */
    /* En estos últimos comentarios que se ven aca arriba, estos que poseen codigo, había intentado de revertir lo que ocurría cuando utilizaba el media para hacer el responsive de detail-track. Lo que pasaba era que al hacer el responsive se modificaba el desktop también. Creo que el problema era que los corchetes del media estaban "cerrados" antes y por lo tanto, las últimas propiedades las tomaba como fuera del media y parte del css */

    @media (max-width: 420px) { 
        .foto {width: 400px;}
        .nofoto {width: 380px;}
        h1 {
            text-align: center;}
        .texto { text-align: center;
        margin-left: 14px;}
        h3 { text-align: center;}
        iframe {
            width: 400px}
        button {margin-left: 28px;
        }
        #botonform {margin-left: 0px;}
        /* de aca para abajo album (arriba era canciones)*/
        #foto2{
            width: 400px;
        }
        .div2 {width: 380px;
        margin-left: 0px;}
        .contenidoalbum {display: flex;
        flex-wrap: wrap;}
        .botonalbum {margin-left: 30px;}
        .playlist {margin-bottom: 15px;}
        /* De aca para abajo, detail artist.*/
         .imagen3 {width: 400px;}
         .contenido2 {
            width: 380px;
            display: flex; 
            flex-wrap: wrap;
            text-align: center;}
        .sinfoto {
            margin-left: 60px;
        }
        .queenfuncionamal {margin-left: 95px;
        }
        .bobtambien {
            margin-left: 75px;}
    }