html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.bateria2 {
    margin-left: -60px;}
.articles {display: flex;
flex-wrap: wrap;
justify-content: center;
font-family: 'Roboto', sans-serif;}
.tucson {margin: 5px;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    border-radius: 4px;}
i {display: flex;
    flex-wrap: wrap;}
h2 {
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.cambiandomedidas {
    height: 350px;
    width: 280px;
}
@media (max-width: 420px){
.bateria2{
    display: none;}
}

