
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.canciones {
    display: flex;
}
.albums {
    display: flex;
}
.artistas {
    display: flex;
}
.polaroid {
   background-color: rgb(255, 123, 0);
    background-image: url(../Images/Logos/img-textura.png);
    background-size: cover;
    border-radius: 15px;
    height: 480px; ;
    width: 230px;
    flex-wrap:wrap;
    box-sizing: border-box;
    display: block;
    margin: 12px;
}
img{
    height: 380px;
    width: 230px;
}
article {
    display: block;
}
a {
color: black;
text-decoration: none;
background-color: transparent;

}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.bateria {
height: 400px;
width: 1300px;
margin-left: -60px;
}
h3 {
    text-transform: uppercase;
}