h1 { 
    font-family: 'New Rocker', cursive;
}
h2 { 
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: -60px;
    margin-left: 10px;
}
.margin { 
    margin-left: -450px;
    font-size: 20px;
}
@media (max-width: 420px){
.foto {
    display: none;
}

.nofoto{
    flex-wrap: wrap;
}
.video{
    height: 300px;
width: 404px;
}
#teo{
    display: none;
}
#hh {
    text-align: center;
}
#hhh{
    text-align: center;
}
#hhhh{
    text-align: center;
}
.messi{
    text-decoration: black;
}

}

