* { 
    box-sizing: border-box;
}

/* Container */
.container {
	width: 100%;
	margin: 0 auto;
}

/* Header */

ul, ol {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    width: 100%;
	margin-bottom: 20px;
}
.main-nav{
    display: flex;
    align-items: center;
    padding: 8px 0px;
	overflow: hidden;
}
.main-nav ul{
    display: flex;
}
.main-nav .form{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.logo {
	margin-left: 45px;
    margin-right: 70px;
    width: 70px;
    height: 70px;
}
.main-nav li {
	margin-right: 90px;
}
/* Footer */ 
.namescontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 420px) {
    .main-nav { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 18px;
        margin-top: 10px;
        margin-right: -3px;

        
    }
    .main-nav li {
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 18px;
        margin-top: 15px;
        
    }
    header { width: 100%;}
    .bateria {display: none;}
    #detalledelosgeneros {margin-left: -25px;}
}